
<%= form_with model: @customer, local: true do |form| %>

  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2>
        Fehler verhinderten das hinzufügen eines neuen Kunden
      </h2>
      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :Geburtstag %><br>
    <%= form.text_field :birthday %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>