

<h1>Kunden</h1>
 
<%= link_to 'Neuer Kunde', new_customer_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Geburtsdatum</th>
    <th></th>
  </tr>
 
 <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.birthday %></td>
      <td><%= link_to 'Anzeigen', customer_path(customer) %>
      <td><%= link_to 'Bearbeiten', edit_customer_path(customer) %></td>
      <td><%= link_to 'Löschen', customer_path(customer),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>