
<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>
 
<p>
  <strong>Geburtsdatum:</strong>
  <%= @customer.birthday %>
</p>

<h2>Reservierungen</h2>

<% @customer.reservations.each do |reservations| %>
  <p>
    <strong>Produkt:</strong>
    <%= reservations.product %>
  </p>
 
  <p>
    <strong>Reservierungsnummer:</strong>
    <%= reservations.reservation_number %>
  </p>

  <p>
  <%= link_to 'Reservierung löschen', [reservations.customer, reservations],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>

<% end %>
 
<h2>Neue Reservierung:</h2>
<%= form_with(model: [ @customer, @customer.reservations.build ], local: true) do |form| %>
  <p>
    <%= form.label :Produkt %><br>
    <%= form.text_field :product %>
  </p>
  <p>
    <%= form.label :Reservierungsnummer %><br>
    <%= form.text_area :reservation_number %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Bearbeiten', edit_customer_path(@customer) %> │
<%= link_to 'Zurück', customers_path %>




