<%= form_with(model: [ @customer, @customer.reservations.build ], local: true) do |form| %>
  <p>
    <%= form.label :Produkt %><br>
    <%= form.text_field :product %>
  </p>
  <p>
    <%= form.label :Reservierungsnummer %><br>
    <%= form.text_area :reservation_number %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>